
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加质检结果明细</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div>
        <h3>添加质检结果明细</h3>
    </div>
    <div id="app" class="div-td">
        <table v-show="list.length" class="table table-striped" border="1">
            <tr>
                <th>指标项分类</th>
                <th>指标项名称</th>
                <th>指标项上限</th>
                <th>指标项下限</th>
                <th>指标项标准</th>
                <th>指标项结果</th>   
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        data: {


        },
        mounted() {
        },
        methods:
        {
            

        },
        computed: {
        }

    });
</script>
