@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disposeindex</title>
</head>
<body>
    <div>
        <h3>不合格处理表</h3>  
        <table>
            <tr>
                <td></td>
            </tr>
        </table>

    </div>
</body>
</html>
