@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disposeindex</title>
</head>
<body>
    <div>
        <h3>不合格产品处理</h3>  
        <table>
            <tr>
                <th>样品名称</th>
                <th>质检名称</th>
                <th>检验工序</th>
                <th>处理方式</th>
                <th>指标项分类</th>
                <th>指标项名</th>
                <th>结果值</th>
                <th>标准值上限 </th>
                <th>标准值</th>
                <th>标准值下限</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </table>
    </div>
</body>
</html>
