
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div>
        <h3>不合格产品管理</h3>
    </div>
    <div id="app" class="div-td">    
        <table v-show="list.length" class="table table-responsive" border="1">
            <tr>
                <th>样品名称</th>
                <th>质检名称</th>
                <th>质检类型</th>
                <th>检验工序</th>
                <th>状态</th>
                <th>处理</th>
                <th>编辑</th>
            </tr>
            <tr v-for="item in list ">
                <td>{{item.Name}}</td>
                <td>
                    {{item.QCPlanName}}
                </td>
                <td>
                    {{item.Type_Name}}
                </td>
                <td>
                    {{item.Process_Name}}
                </td>
                <td>{{item.State==0?"未处理":"已处理"}}</td>
                <td>
                    <input id="Button1" type="button" value="处理" v-on:click="Dispost()" />
                </td>
                <td>
                    <div v-if="item.DelUnqualified!=''">
                        <a href="#" v-on:click="DelUnqualified(item.UnqualifiedID)">删除</a>                    
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            QCPlanType: [],
            QCPlanObjType: [],
            Process: [],
            Facility: [],
            TargetType: [],
            list: [],
        },
        mounted() {
            this.getQCPlanType();
            this.getQCPlanObjType();
            this.getProcesses();
            this.getTargetType();
            this.getFacility();
            this.getUnqualified();
        },
        methods: {
            //获取质检类型表
            getQCPlanType: function () {
                axios.get('http://localhost:8103/GetQCPlanTypes').then(
                    (response) => {
                        this.QCPlanType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.QCPlanType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status + "1");
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取对象类型表
            getQCPlanObjType: function () {
                axios.get('http://localhost:8103/GetQCPlanObjTypes').then(
                    (response) => {
                        this.QCPlanObjType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.QCPlanObjType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取检验工序表
            getProcesses: function () {
                axios.get('http://localhost:8103/GetProcess').then(
                    (response) => {
                        this.Process = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.Process.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取指标分类表
            getTargetType: function () {
                axios.get('http://localhost:8103/GetTargetTypes').then(
                    (response) => {
                        this.TargetType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.TargetType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取质检设备表
            getFacility: function () {
                axios.get('http://localhost:8103/GetFacilities').then(
                    (response) => {
                        this.Facility = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.Facility.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取不合格样品信息
            getUnqualified: function () {
                axios.get('http://localhost:8103/GetUnqualifieds').then((response) => {
                    this.list = [];
                    for (var i = 0; i < response.data.length; i++) {
                        this.list.push(response.data[i]);
                    }
                },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

            Dispost: function () {

                location.href ='/Unqualified/Disposeindex'
            },
            //删除不合格信息
            DelUnqualified: function (Id) {
                axios.get('http://localhost:8103/DeleteUnqualified?id=' + Id).then((respose) => {
                    if (respose.data > 0) {
                        alert("删除成功!!!");
                        this.getUnqualified();
                    }
                },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

        },

    })
</script>
