
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddQCtask</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <h3>Vue.js质检任务表添加页面</h3>
    <div id="add">
        <table class="table table-hover">
            <tr>
                <td>质检计划名称:</td>
                <td>
                    <select id="Select1" v-model="QCPLAN_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="type1 in QCPlan1" v-bind:value="type1.ID">{{type1.QCPlanName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>采样名称:</td>
                <td>
                    <select id="Select1" v-model="SAMPIEID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="type in Sample1" v-bind:value="type.ID">{{type.Name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>状态</td>
              
                <td>
                    <input id="Radio1" type="radio" v-model="State" name="QCPlan_State" value="1" checked>已检验
                    <input id="Radio1" type="radio" v-model="State" name="QCPlan_State" value="0" />未检验
                </td>
            </tr>
            <tr>
                <td><a href="javascript:;" v-on:click="AddQCtask(QCPLAN_ID, QCPlanType, State, SAMPIEID)">添加</a></td>
            </tr>

        </table>
    </div>
</body>
</html>
<script>
    var vx = new Vue({
        el: "#add",
        data:
        {
            QCPLAN_ID: "",
            SAMPIEID: "",
            State:"",
            QCPlanType1: [],
            Sample1: [],
            QCPlan1:[]
        },
        mounted() {
            this.getQCPlanType1();
            this.getQCPlanName();
            this.getSampleName();
        },
        methods:
        {
            //获取质检类型表
            getQCPlanType1: function () {
                axios.get('http://localhost:8103/GetQCPlanTypes').then(
                    (response) => {
                        this.QCPlanType1 = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.QCPlanType1.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status + "1");
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },

            //质检计划名称
            getQCPlanName: function () {
                axios.get('http://localhost:8103/GetQCPlansName').then(
                    (response) => {
                        this.QCPlan1 = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.QCPlan1.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status + "1");
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取采样名称
            getSampleName: function () {
                axios.get('http://localhost:8103/GetSample').then(
                    (response) => {
                        this.Sample1 = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.Sample1.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status + "1");
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //质检任务保存
            AddQCtask: function (QCPlan_ID1, QCPlanType1, State1, SampleID1) {
                var params = new URLSearchParams();
                params.append('QCPLAN_ID', QCPlan_ID1);
                params.append('QCPlanType', QCPlanType1);
                params.append('State', State1);
                params.append('SAMPIEID', SampleID1);
                axios.post('http://localhost:8103/AddQCtask', params).then(
                    (response) => {
                        axios.get('http://localhost:8103/GetTargetsAndAddQCResult?qcPlanId=' + QCPlan_ID1 + '&sampleId=' + SampleID1).then(
                            (response) => {
                                location.href = "/QCtask/index";
                            },
                            (response) => {
                                alert(response.status);
                            }
                        ).catch(function (response) {
                            alert(response);
                        });
                        
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            }


        }

    });
</script>