@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>你好</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    @{
                        if (ViewBag.UsersID == null || ViewBag.UsersID == "")
                        {
                            <td>23</td>
                        }
                        else
                        {
                            <td>@ViewBag.UsersID</td>
                        }

                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
