
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowIndex</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <style>
      


            .div-td table td {
                width: 30px;
                line-height: 15px
            } 
    </style>
</head>
<body>
    <div id="app" class="div-td">
        <input id="Button1" type="button" value="添加" onclick="location.href='Index'"/>
        <table v-show="list.length" class="table-condensed" border="1">
            <tr>
                <th>质检计划ID</th>
                <th>质检计划编号</th>
                <th>质检名称</th>
                <th>质检类型</th>
                <th>质检对象类型</th>
                <th>检验工序</th>
                <th>质检设备</th>
                <th>指标项分类</th>
                <th>指标项名称</th>
                <th>标准值</th>
                <th>标准值上限</th>
                <th>标准值下限</th>
                <th>状态</th>
                <th>编辑</th>
            </tr>
            <tr v-for="item in list ">
                <td>{{item.ID}}</td>
                <td><input type="text" v-model="item.Code" /></td>
                <td><input type="text" v-model="item.Name" /></td>
                <td>
                    <select id="Select1" v-model="item.Type_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="type in QCPlanType" v-bind:value="type.Type_ID">{{type.Type_Name}}</option>
                    </select>
                </td>
                <td>
                    <select id="Select2" v-model="item.ObjType_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="ObType in QCPlanObjType" v-bind:value="ObType.ObjType_ID">{{ObType.ObjType_Name}}</option>

                    </select>
                </td>
                <td>
                    <select id="Select3" v-model="item.Process_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="pro in Process" v-bind:value="pro.Process_ID">{{pro.Process_Name}}</option>

                    </select>
                </td>
                <td>
                    <select id="Select4" v-model="item.Facility_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="facility in Facility" v-bind:value="facility.Facility_ID">{{facility.Facility_Name}}</option>

                    </select>
                </td>
                <td>
                    <select id="Select5" v-model="item.TargetType_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="targettype in TargetType" v-bind:value="targettype.TargetType_ID">{{targettype.TargetType_Name}}</option>

                    </select>
                </td>
                <td>
                    <select id="Select1" v-model="item.Target_ID">
                        <option value="请选择">--请选择--</option>
                        <option v-for="target in Target" v-bind:value="target.Target_ID">{{target.Target_Name}}</option>

                    </select>
                </td>
                <td><input type="text" v-model="item.StandardValues" /></td>
                <td><input type="text" v-model="item.StandardValuesMax" /></td>
                <td><input type="text" v-model="item.StandardValuesMin" /></td>
                <td>
                    <input id="Radio1" type="radio" v-model="item.QCPlan_State" value="1">有效
                    <input id="Radio1" type="radio" v-model="item.QCPlan_State" value="0" />无效
                </td>
                <td>
                    <div v-if="item.ID!=''">
                        <a href="#" v-on:click="DelQCPlan(item.ID)">删除</a>
                        <a href="#" v-on:click="UptQCPlan(item.ID,item.Code,item.Name,item.Type_ID,item.ObjType_ID,item.Process_ID,item.Facility_ID,item.TargetType_ID,item.Target_ID,item.StandardValues,item.StandardValuesMax,item.StandardValuesMin,item.QCPlan_State)">修改</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            QCPlanType: [],
            QCPlanObjType: [],
            Process: [],
            Facility: [],
            TargetType: [],
            Target: [],
            list: [],
        },
        mounted() {
            this.getQCPlanType();
            this.getQCPlanObjType();
            this.getProcesses();
            this.getTargetType();
            this.getFacility();
            this.getTarget();
            this.getList();
        },
        methods: {
            //获取质检类型表
            getQCPlanType: function () {
                axios.get('http://localhost:8103/GetQCPlanTypes').then(
                    (response) => {
                        this.QCPlanType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.QCPlanType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status + "1");
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取对象类型表
            getQCPlanObjType: function () {
                axios.get('http://localhost:8103/GetQCPlanObjTypes').then(
                    (response) => {
                        this.QCPlanObjType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.QCPlanObjType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取检验工序表
            getProcesses: function () {
                axios.get('http://localhost:8103/GetProcess').then(
                    (response) => {
                        this.Process = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.Process.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取指标分类表
            getTargetType: function () {
                axios.get('http://localhost:8103/GetTargetTypes').then(
                    (response) => {
                        this.TargetType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.TargetType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取质检设备表
            getFacility: function () {
                axios.get('http://localhost:8103/GetFacilities').then(
                    (response) => {
                        this.Facility = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.Facility.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取指标项名称
            getTarget: function () {
                axios.get('http://localhost:8103/GetTargets').then(
                    (response) => {
                        this.Target = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.Target.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

            },
            //获取质检计划信息
            getList: function () {
                axios.get('http://localhost:8103/GetQCPlans').then((response) => {
                    this.list = [];
                    for (var i = 0; i < response.data.length; i++) {
                        this.list.push(response.data[i]);
                    }
                },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //删除质检计划信息
            DelQCPlan: function (Id) {               
                axios.get('http://localhost:8103/DeleteQCPlan?id=' + Id).then((respose) => {                  
                    if (respose.data > 0) {
                        alert("删除成功!!!");
                        this.getList();
                    }
                },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //修改质检计划信息
            UptQCPlan: function (Id, code, name, type_ID, objType_ID, process_ID, facility_ID, targetType_ID, target_ID, standardValues, standardValuesMax, standardValuesMin, qCPlan_State) {
                var params = new URLSearchParams();
                params.append('ID', Id);
                params.append('Code', code);
                params.append('Name', name);
                params.append('Type_ID', type_ID);
                params.append('ObjType_ID', objType_ID);
                params.append('Process_ID', process_ID);
                params.append('Facility_ID', facility_ID);
                params.append('QCPlan_State', qCPlan_State);
                params.append('TargetType_ID', targetType_ID);
                params.append('Target_ID', target_ID);
                params.append('StandardValues', standardValues);
                params.append('StandardValuesMax', standardValuesMax);
                params.append('StandardValuesMin', standardValuesMin);
                axios.post('http://localhost:8103/UpdateQCPlan', params).then(
                    (response) => {
                        console.log(response.data);
                        if (response.data > 0) {
                            alert("修改成功!!!");
                            this.getList();
                        }
                        //console.info(this.list);
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },

        },
        
    })
</script>
