@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div style="margin-left:200px">
        <h3>指标项添加</h3>
    </div>
    <div id="add" style="margin-left:200px">
        <table class="table table-bordered table-hover" style="width:700px">
            <tr>
                <td>指标项名: </td>
                <td><input type="text" v-model="Target_Name" /></td>
            </tr>
            <tr>
                <td>
                    指标项分类:
                </td>
                <td>
                    <select id="Select5" v-model="TargetTypePid">
                        @*TargetTypePid*@
                        <option value="请选择">--请选择--</option>
                        <option v-for="targettype in TargetType" v-bind:value="targettype.TargetType_ID">{{targettype.TargetType_Name}}</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    标准值:
                </td>
                <td><input type="text" v-model="StandardValues" /></td>
            </tr>
            <tr>
                <td>
                    标准值上线:
                </td>
                <td><input type="text" v-model="StandardValuesMax" /></td>
            </tr>
            <tr>
                <td>
                    标准值下限:
                </td>
                <td><input type="text" v-model="StandardValuesMin" /></td>
            </tr>
            <tr>
                <td><input type="button" href="javascript:;" v-on:click="AddTarget(Target_Name, TargetTypePid,  StandardValues, StandardValuesMax, StandardValuesMin)" value="添加" class="btn btn-info"/></td>
                <td><input type="button" href="#" onclick="location.href='GetTarget'" value="显示" class="btn btn-danger"/></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        data: {
            Target_Name: "",
            StandardValues: "",
            StandardValuesMax: "",
            StandardValuesMin: "",
            TargetTypePid:"",
            TargetType: [],
            TargetTypePid: "请选择", /*TargetType_ID*/

        },
        mounted() {
            this.getTargetType();
        },
        methods:
        {
            //获取指标分类表
            getTargetType: function () {
                axios.get('http://localhost:8103/GetTargetTypes').then(
                    (response) => {
                        this.TargetType = [];
                        for (var i = 0; i < response.data.length; i++) {
                            this.TargetType.push(response.data[i]);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
            //添加指标项信息
            AddTarget: function (Target_Name, TargetTypePid, standardValues, standardValuesMax, standardValuesMin) {
                var params = new URLSearchParams();
                params.append('Target_Name', Target_Name);
                params.append('TargetTypePid', TargetTypePid);
                params.append('StandardValues', standardValues);
                params.append('StandardValuesMax', standardValuesMax);
                params.append('StandardValuesMin', standardValuesMin);
                axios.post('http://localhost:8103/AddTarget', params).then(
                    (response) => {        
                        location.href = "/Target/GetTarget";
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        },
        computed: {
        }
    });
</script>
