@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {


        })

    </script>
</head>
<body>
    <div>
    <table style="width:700px">
        <tr>
            <th>权限名称</th>
            <th>地址URL</th>
            <th>是否启用</th>
            <th>描述</th>
        </tr>
    </table>
    </div>
</body>
</html>
