@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="~/bootstrap-3.3.7-dist/bootstrap337/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            //反填
            $.ajax({
                url: 'http://localhost:8103/GetPermissionByID',
                type: 'get',
                data: {
                    id:'@Request.QueryString["ID"]'
                },
                success: function (data) {
                    $("input[name=PermissionID]").val(data[0].PermissionID);
                    $("input[name=PermissionName]").val(data[0].PermissionName);
                    $("input[name=PermissionURL]").val(data[0].PermissionURL);
                    $("input[name=PermissionEnabel][value=" + data[0].PermissionEnabel + "]").attr("checked", "checked");
                   
                    //alert(data[0].pID)
                    $("select[name=pID]").val(data[0].pID);
                    $("textarea[name=PermissionRemark]").val(data[0].PermissionRemark);
                }

            })

            //判断是否是父节点，如果不是显示出要选择的父节点，如果是则隐藏父节点
            $("input[name=isPid]").click(function () {
                if ($("input[name=isPid]:checked").val() == "1") {
                    $("#pIDShow").show();
                }
                else {
                    $("#pIDShow").hide();
                }
            })

            //获得权限父节点
            $.ajax({
                url: 'http://localhost:8103/GetPermissionsPid',
                type: 'get',
                async: false,
                success: function (data) {
                    $(data).each(function (index, data) {
                        $("#pID").append("<option value='" + data.PermissionID + "'>" + data.PermissionName + "</option>");
                    })
                }

            });


            //修改权限
            $("#btnAdd").click(function () {
                $.ajax({
                    url: 'http://localhost:8103/UpdatePermission',
                    type: 'post',
                    data: $("#formData").serialize(),
                    success: function (data) {
                        if (data > 0) {
                            alert("修改成功");
                        }
                    }
                })
            });
        })

    </script>
</head>
<body>
    <div style="margin-left:400px">
        <h2>修改权限</h2>
        <form id="formData" enctype="multipart/form-data" method="post">
            <input type="hidden" name="PermissionID"/>
            <table class="table-bordered table table-hover" style="width:700px">

                <tr>
                    <td>权限名称</td>
                    <td>
                        <input type="text" name="PermissionName" />
                    </td>
                </tr>
                <tr>
                    <td>权限URL</td>
                    <td>
                        <input type="text" name="PermissionURL" />
                    </td>
                </tr>
                <tr>
                    <td>是否启用</td>
                    <td>
                        <input type="radio" name="PermissionEnabel" value="0"  />启用
                        <input type="radio" name="PermissionEnabel" value="1" />禁用
                    </td>
                </tr>

                <tr>
                    <td>是否是父节点</td>
                    <td>
                        <input id="IsPid" type="radio" name="isPid" value="0" />是
                        <input id="NoPid" type="radio" name="isPid" value="1" checked="checked" />否
                    </td>
                </tr>
                <tr id="pIDShow">
                    <td>父节点</td>
                    <td>
                        <select name="pID" id="pID">
                            <option value="0">=请选择=</option>


                        </select>
                    </td>
                </tr>
                <tr>
                    <td>描述</td>
                    <td>
                        <textarea name="PermissionRemark" rows="4" cols="40"></textarea>

                    </td>
                </tr>

                <tr>
                    <td><input type="button" id="btnAdd" class="btn btn-info" value="修改权限" /></td>
                    <td>
                        <input type="button" onclick="location.href='/Permission/Index'" class="btn btn-danger" value="权限列表" />

                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
